*
**/*
!.emacs
!.gitconfig
!.gitignore_global
!.gitignore
!.ssh/config
!check_todos
!install-structured-haskell-mode.sh
!Resources/
!Resources/make_dir

!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/org-protocol.desktop