*
**/*
!.emacs
!.gitconfig
!.gitignore_global
!.gitignore
!.ssh/config
!check_todos
!install-structured-haskell-mode.sh
!Resources/
!Resources/make_dir
!.local/bin/git_unignore
!.local/bin
!.local
!.local/bin/send_key
!.emacs.d/swipl/prolog.el
!.emacs.d/swipl
!.emacs.d
!.bashrc
!.bash_config
!.tmux.conf
!.ssh/svp-destroyer-ed.pub
!.ssh
!.bash_aliases
!.tmux/plugins/tpm
!.tmux/plugins
!.tmux
!.local/bin/git_up-to-date
!.local/bin
!.local
!.local/bin/enter_project
!.local/bin
!.local
!.bash_synchronize
